*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* height: 100px; */
}

.header-t{
    height: 41px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #848E9F;
}

.rightsty li{
    font-size: 17px;
    color: #848E9F;
}

.header-b{
    height: 53px;
    background-color:#FFFFFF;
    border-bottom: 3px solid #13C5DD;
}

.myown li{
    font-size: 30px;
    color: #13C5DD!important;
    font-weight: 700;

}
.major li{
    text-decoration: none;
    font-family:'sans-serif';
    font-size: 26px;
    color: #32C5DE;
    font-weight: 800;
}
.sect21{
    height: 550px;
    background-color: red;
}

.jumbotron{
    height: 550px;
    background-image: url('./jumbofrong.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.myjum h3{
    font-size: 20px;
    color: #13C5DD;
    text-transform: uppercase;
    font-weight: 800;
    
}

.myjum h5{
    height: 3px;
    background-color:rgba(256,256,256,.3) !important;
    width: 30%;
    position: relative;
    bottom: 7px;
}

.myjum h1{
    font-size: 71px;
    color: white;
    font-weight: 700;
}

.mybt{
    background-color: white;
    color: black;
    width: 20%;
    border-radius: 30px;
    border: 2px solid white;
    font-weight: 500;
}

.mybt2{
    background-color: #ffffff0f;
    width: 23%;
    border-radius: 30px;
    border: 2px solid white;
    font-weight: 500;
}

.sect22{
    /* height: 400px; */
    background-color: white;
}

.imgj{
    height: 506px;
    border-radius: 20px;
    width: 100%;
}

.mjko h3{
    font-size: 20px;
    color: #13C5DD;
    text-transform: uppercase;
    font-weight: 800;

}

.mjko h5{
    height: 3px;
    background-color:#949494;
    width: 15%;
    position: relative;
    bottom: 7px;
}

.mjko h1{
    font-size: 50px;
    color: #1D2A4D;
    font-weight: 700;

}

.circleuno{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: #EFF5F9;
}

.pricol{
    color: #32C5DE;

}

.res{
    color: #1D2A4D;
}

.qu{
    color: #1D2A4D;
    font-weight: 500;
    font-size: 17px;
    padding-top: 5px;
}

.mjko3 h3{
    font-size: 18px;
    color: #13C5DD;
    text-transform: uppercase;
    font-weight: 800;
}

.mjko3 h5{
    height: 3px;
    background-color: #949494;
    width: 100px;
    position: relative;
    bottom: 7px;
}

.sect56{
    height: 200px;
    background-color:white;
}

.sect90{
    height: 200px;
    background-color: white;
}

.box1{
    height: 272px;
    background-color: #EFF5F9;
    width: 413px;
    border-radius: 35px;
}

.box1 ul .rty{
    background-color: #32C5DE;
    height: 90px;
    border-radius: 50%;
    width: 150px;
    text-align: center;
    transform: rotate(-14deg);
    color:white;
    margin-left: 129px;
}

.box1 ul li {
    transform: rotate(12deg);
}

.box1 h4{
    color:#1D2A4D;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.box1 p{
    color: grey;
    text-align: center;
}

.sect100{


    height: 300px;
    background-color: white;
    margin-top: 90px;
}


.appt{
    height: 400px;
    background-color: lightskyblue;
}


.myju{
    height: 200px;
    background-color: orange;
}